* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body, main {
    height: 100%;
    margin: 0;
}

#slide-bar-hide {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -240px;
    min-height: 100%;
    background: #2F4050;
    width: 240px;
    padding: 0px !important;
    .top-slide-bar {
        background: #233645;
        .box-logo {
            padding: 20px 5px 0px 5px;
            img {
                max-width: 100%;
                max-height: auto;
                box-shadow: 0px 5px 8px #272727;
            }
        }
        .accounts {
            padding: 10px 7px 15px 5px;
            .username {
                color: #D0A314;
                p {
                    margin: 0 5px 0 0;
                }
            }
            .btn-plus {
                .dropdown-menu {
                    left: -70px !important;
                }
            }
        }
    }
    .list-manager {
        border-bottom: 1px solid #233645;
        .active {
            background: #293846;
        }
        .list-menu {
            display: block;
            text-decoration: none;
            padding: 10px;
            :nth-child(n) {
                margin-right: 7px;
                color: #A7B1C2;
            }
            .item-list {
                font-size: 14px;
                
            }
        }
        .hide-list-menu {
            display: none;
            background-color: #233645;
            padding-left: 10px;
        }
    }
}

.btn-show{
    display: none;
    color: black;
    border: transparent;
    border-radius: 5px;
    margin-right: 5px;
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
}

.btn-hide {
    background: none;
    color: #007bff;;
    border: transparent;
    border-radius: 5px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    left: 200px;
    line-height: 30px;
    text-align: center;
}

.rows {
    display: flex;
}

.full-height {
    min-height: 100%;
}

#slide-bar {
    min-height: 100%;
    background: #2F4050;
    width: 240px;
    padding: 0px !important;
    .top-slide-bar {
        background: #233645;
        .box-logo {
            padding: 20px 5px 0px 5px;
            img {
                max-width: 100%;
                max-height: auto;
                box-shadow: 0px 5px 8px #272727;
            }
        }
        .accounts {
            padding: 10px 7px 15px 5px;
            .username {
                color: #D0A314;
                p {
                    margin: 0 5px 0 0;
                }
            }
            .btn-plus {
                .dropdown-menu {
                    left: -145px !important;
                }
            }
        }
    }
    .list-manager {
        border-bottom: 1px solid #233645;
        .active {
            background: #293846;
        }
        .list-menu {
            display: block;
            text-decoration: none;
            padding: 10px;
            :nth-child(n) {
                margin-right: 7px;
                color: #A7B1C2;
            }
            .item-list {
                font-size: 14px;
                
            }
        }
        .hide-list-menu {
            display: none;
            background-color: #233645;
            padding-left: 10px;
        }
    }
}

#page {
    position: relative;
    padding: 0px;
    background: #F7F8FC;
    .header {
        background: #FFFF;
        padding: 15px 15px;
        .title-header {
            padding: 0px;
            h1 {
                color: #7F8183;
                font-size: 25px;
                margin: 0px;
            }
        }
        .user-menu {
            padding: 0px;
            .action-menu {
                display: block;
                .mini-images {
                    padding-right: 8px;
                    color: #007bff;
                }
            }
            .role {
                margin-top: 10px;
                span {
                    font-weight: bold;
                }
                p {
                    display: inline;
                }
            }
        }
    }
    .content {
        .search {
            margin: 0px;
            padding: 15px 15px;
            :nth-child(n) {
                align-items: center;
            }
            .input-search {
                padding: 0px;
            }
            .btn-search {
                padding-left: 20px;
            }
            .btn-add {
                padding: 0px;
                a {
                    float: right;
                }
            }
            .message {
                display: none;
                padding: 10px 10px;
                margin-top: 15px;
                width: 100%;
                border-radius: 5px;
                border: 1px solid #ECECEC;
                background: #EBFFDF;
                span {
                    margin-right: 5px;
                }
                p{
                    display: inline;
                    margin: 0px;
                }
            }
        }
        .table {
            padding: 0px 15px;
            table {
                background: #FFFF;
                th{
                    padding: 7px !important;
                    .show-more {
                        color: #7F8183;
                        background: #F8F9FA;
                        border-radius: 3px;
                        .btn-show-more {
                            color: #9A9A9A;
                            width: 25px;
                            height: 25px;
                            text-align: center;
                        }
                    }
                }
                td {
                    padding: 7px !important;
                }
                .name-product {
                    color: #007bff;
                }
            }
        }
        .Pagination {
            padding-left: 15px;
        }
    }
}